@font-face {
  font-family: 'Dank Mono Italic';
  src: url('../fonts/DankMonoItalic.otf');
}

@font-face {
  font-family: 'Dank Mono Regular';
  src: url('../fonts/DankMono.otf');
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Dank Mono Regular', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  line-height: 1.5;
  width: 100%;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}
