@font-face {
  font-family: 'Dank Mono Italic';
  src: url('../fonts/DankMonoItalic.otf');
}

@font-face {
  font-family: 'Dank Mono Regular';
  src: url('../fonts/DankMono.otf');
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Dank Mono Regular', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  line-height: 1.5;
  width: 100%;
}

/* light mode */

body.light-mode {
  background-color: rgb(235, 235, 235);
  color: #212731;
  transition: background-color 0.3s ease;
}
body.light-mode a {
  color: rgb(59, 57, 57);
}
body.light-mode .title {
  color: #d23669;
}

/* dark mode */

body.dark-mode {
  background-color: #212731;
  color: #f9ffed;
}
body.dark-mode .title {
  color: #ffa7c4;
}
body.dark-mode a {
  color: rgb(204, 197, 197);
}
